pytest==6.2.5
pytest-celery==0.0.0a1
pytest-mock==3.3.1
pytest-cov==2.10.1
pytest-redis==2.0.0
redis==3.5.3
eth-tester==0.5.0b3
py-evm==0.3.0a20
eth-erc20~=0.1.5
erc20-transfer-authorization~=0.3.6
requests >=2.24.0,<3.0.0 # Used for FastApi's Test Server
