[submodule "apps/cic-notify"]
	path = apps/cic-notify
	url = git@gitlab.com:grassrootseconomics/cic-notify.git
[submodule "apps/cic-cache"]
	path = apps/cic-cache
	url = git@gitlab.com:grassrootseconomics/cic-cache.git
[submodule "apps/cic-meta"]
	path = apps/cic-meta
	url = git@gitlab.com:grassrootseconomics/cic-meta.git
