sarafu-faucet~=0.0.7a2
cic-eth[tools]~=0.12.4a13
cic-types~=0.2.1a2
funga>=0.5.1a1,<=0.5.15
faker==4.17.1
chainsyncer~=0.0.7a3
chainlib-eth~=0.0.10a18
eth-address-index~=0.2.4a1
eth-contract-registry~=0.6.3a3
eth-accounts-index~=0.1.2a3
eth-erc20~=0.1.2a3
erc20-faucet~=0.3.2a2
psycopg2==2.8.6
liveness~=0.0.1a7
confini>=0.4.2rc3,<0.5.0
