sarafu-faucet~=0.0.7a1
cic-eth[tools]~=0.12.4a8
cic-types~=0.1.0a15
crypto-dev-signer>=0.4.15a4,<=0.4.15
faker==4.17.1
chainsyncer~=0.0.6a3
chainlib-eth~=0.0.9a13
eth-address-index~=0.2.3a4
eth-contract-registry~=0.6.3a3
eth-accounts-index~=0.1.2a3
eth-erc20~=0.1.2a2
erc20-faucet~=0.3.2a2
psycopg2==2.8.6
