sarafu-faucet~=0.0.5a2
cic-eth[tools]~=0.12.2a3
cic-types~=0.1.0a14
crypto-dev-signer~=0.4.14rc1
faker==4.17.1
chainsyncer~=0.0.6a1
chainlib-eth~=0.0.7a1
eth-address-index~=0.1.4a1
eth-contract-registry~=0.5.8a1
eth-accounts-index~=0.0.14a1
eth-erc20~=0.0.12a1
erc20-faucet~=0.2.4a1
psycopg2==2.8.6
