cic-eth[tools]==0.12.7
cic-types~=0.2.1a8
chainlib-eth~=0.0.15
eth-erc20~=0.1.5
erc20-demurrage-token~=0.0.7
eth-address-index~=0.2.4
cic-eth-registry~=0.6.5
erc20-faucet==0.3.2
sarafu-faucet==0.0.7
confini~=0.5.3
eth-token-index==0.2.4
okota==0.2.6
